{
  "alwaysRequiresAuth": false,
  "apiGatewayEndpoint": "https://ozj6r9bglc.execute-api.us-east-1.amazonaws.com/prod",
  "defaultBucket": "quilt-example",
  "suggestedBuckets": [
    "quilt-example",
    "quilt-aics"
  ],
  "federations": [
    "/federation.json",
    "/does-not-exist.json",
    "/federation-override.json"
  ]
}
