// eslint-disable-next-line no-underscore-dangle
window.__CONFIG = {
  alwaysRequiresAuth: Boolean('$ALWAYS_REQUIRES_AUTH'),
  sentryDSN: '$SENTRY_DSN',
  // eslint-disable-next-line comma-dangle
  apiGatewayUrl: '$API_URL'
};
