# TODO: Should include ../shared/, but relative paths don't work as expected.
# https://github.com/pypa/pip/issues/3772
bleach==3.1.0
certifi==2018.11.29
chardet==3.0.4
decorator==4.3.2
entrypoints==0.3
idna==2.7
ipython-genutils==0.2.0
Jinja2==2.10
jsonschema==2.6.0
jupyter-core==4.4.0
MarkupSafe==1.1.0
mistune==0.8.4
nbconvert==5.3.1
nbformat==4.4.0
numpy==1.16.1
pandas==0.24.1
pandocfilters==1.4.2
pyarrow==0.12.0
Pygments==2.3.1
python-dateutil==2.8.0
pytz==2018.9
requests==2.20.0
six==1.12.0
testpath==0.4.2
traitlets==4.3.2
urllib3==1.24.1
webencodings==0.5.1
